@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

*{
	padding: 0;
	margin: 0;
	font-family: Rayleway, Helvetica, sans-serif;
}
html,body{
	width: 100%;
	height: 100%;
}
.container{
	min-height: calc(100% - 65px);
}

nav.nav-big{
	width: 100%;
	height: 65px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	background-color: #323232;
}
nav.nav-big ul li{
	display: inline-block;
	float: left;
}
nav.nav-big ul li a{
	height: 65px;
	line-height: 65px;
	padding: 0 15px;
	display: block;
	text-decoration: none;
	color:rgba(242,242,242,.42);
	transition: all 0.3s, transform 0.3s;
}
nav.nav-big ul li a:hover{
	background-color: rgba(255,255,255,.23);
	color:rgba(242,242,242,1);
}
.nav-left li{
	float: left !important;
}
.nav-right li{
	float: right !important;
}
nav.nav-small{
	width: 100%;
	height: 65px;
	background-color: #FB8C00;
	position: fixed;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	z-index:2;
}
nav.nav-small ul{
	position: fixed;
	width: 70%;
	height: 100%;
	background-color: #323232;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	left:-70%;
	transition: all 0.5s, tranform 0.5s;
}
nav.nav-small ul.out{
	left:0;
}
nav.nav-small ul li{
	display: block;
}
nav.nav-small ul li a{
	height: 55px;
	padding-left: 20px;
	line-height: 55px;
	display: block;
	text-decoration: none;
	color:rgba(242,242,242,.42);
	transition: all 0.3s, transform 0.3s;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.13);
}
nav.nav-small ul li a:hover{
	background-color: rgba(255,255,255,.23);
	color:rgba(242,242,242,1);
}
.banner{
	width: 100%;
	height: 55%;
	background-image: url('../images/banner.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.banner-opacity{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.23);
}
.banner-opacity h1{
	font-weight: lighter;
	font-size: 2.5em;
	text-transform: uppercase;
	color: #f5f5f5;
	text-align: center;
	line-height: 200px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.23);
}
.btn{
	display: block;
	width: 320px;
	height: 45px;
	line-height: 45px;
	text-decoration: none;
	text-align: center;
	margin:auto;
	margin-top: 80px;
	border-radius: 5px;
}
.btn-full{
	background-color: #FB8C00;
	border:2px solid #FB8C00;
	color: #f5f5f5;
	transition:all 0.3s, tranform 0.3s;
}
.btn-full:hover{
	background-color: transparent;

}
.btn-thin{
	background-color: #f5f5f5;
	border:2px solid #f5f5f5;
	color: #FB8C00;
	transition:all 0.3s, tranform 0.3s;
}
.btn-thin:hover{
	background-color: transparent;
	color:#f5f5f5;
}
.btn-submit{
	background-color: #FB8C00;
	border:2px solid #FB8C00;
	color: #f5f5f5;
	transition:all 0.3s, tranform 0.3s;
	font-size: 1em;
}
.btn-submit:hover{
	background-color: transparent;
	color:#FB8C00;

}
.btn-link{
	background-color: #323232;
	border:2px solid #323232;
	color: #f5f5f5;
	transition:all 0.3s, tranform 0.3s;
}
.btn-link:hover{
	background-color: transparent;
	color:#323232;

}
.menu-btn{
	display: block;
	padding-top: 17px;
	height: 48px;
	width: 65px;
	text-align: center;
	text-decoration: none;
	color: #f5f5f5;
}
.panel{
	padding:10px 0;
	margin:50px 0;
	background-color: #f5f5f5;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	border-radius: 5px;
}
.news-banner{
	height: 250px;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.news h2{
	line-height: 65px;
	color: #FB8C00;
}
.news p{
	padding:20px 0;
	line-height: 25px;
}
.news p br{
	line-height: 60px;
}
.news-footer{
	padding:20px 0;
}
.readmore{
	background-color: #FB8C00;
	display: block;
	height: 45px;
	line-height: 45px;
	margin-bottom: -30px;
	margin-left: -10px;
	margin-right: -10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: right;
	padding-right: 20px;
	text-decoration: none;
	color:#f5f5f5;
	transition:all 0.3s, tranform 0.3s;
}
.news-full{
	margin-top:50px;
}
.news-full h2{
	height: 45px;
	line-height: 45px;
	padding-left:20px;
	background-color: #323232;
	color: #f5f5f5;
	text-transform: uppercase;
	border-left:5px solid #FB8C00;
}
.news-full p{
	width: 92%;
	padding:20px;
	line-height: 25px;
}
.auteur{
	position: absolute;
	bottom:0;
	right: 0;
	height: 45px;
	line-height: 45px;
	padding:0 30px;
	background-color: rgba(0,0,0,.53);
	color: #f5f5f5;
	border-top:2px solid #FB8C00;
	border-left:2px solid #FB8C00;
	z-index:0;
}
.date{
	position: absolute;
	z-index: 0;
	bottom:0;
	left: 0;
}
.date span{
	display: inline-block;
	height: 45px;
	line-height: 45px;
	padding:0 20px;
	font-weight: bolder;
	font-size: 1.2em;
	float: left;
}
.day{
	background-color: #FB8C00;
	color: #f5f5f5;
	border-top:2px solid #323232;
	border-right:2px solid #323232;
}
.mounth{
	background-color: #f5f5f5;
	color: #323232;
	border-top:2px solid #323232;
	border-right:2px solid #323232;
}
.tags{
	text-align: right;
}
.tags a{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding:0 10px;
	background-color: #FB8C00;
	color:#f5f5f5;
	text-decoration: none;
	transition:all 0.3s, transform 0.3s;
}
.tags a:hover{
	background-color: #F57C00;
}
.news-full p br{
	line-height: 60px;
}
.team{
	text-align: center;
	padding: 20px 0;
}
.thumb-team{
	width: 200px;
	height: 200px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.team h3{
	color: #323232;
	font-weight: lighter;
	text-transform: uppercase;
}
.readmore:hover{
	background-color: #F57C00;
}
.about{
	padding: 40px 0;
}
.about h1{
	margin-bottom: 50px;
	font-weight: lighter;
	text-transform: uppercase;
}
.about h2{
	margin-left: 20px;
	font-weight: lighter;
	padding:30px 0 15px 0;
}
.about p{
	margin-left: 20px;
	line-height: 21px;
}
.about p br{
	line-height: 50px;
}
.about ul{
	padding-left: 60px;
	margin:20px 0;
}
.footer-content{
	text-align: center;
	color: #f5f5f5;
}
.footer-content ul{
	list-style: none;
}
.footer-content h3{
	padding: 20px 0 40px 0;
	font-weight: lighter;
	text-transform: uppercase;
}
.footer-content ul li{
	padding: 10px 0;
}
.footer-content hr{
	margin: 20px 0;
}
.footer-content p{
	text-align: center;
}
form{
	margin-top:50px;
	margin-bottom:50px;
	background-color: #f5f5f5;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
form h1{
	text-transform: uppercase;
	font-weight: lighter;
	background-color: #323232;
	color:#f5f5f5;
	height: 65px;
	line-height: 65px;
	margin:0 -10px;
	padding-left: 40px;
}
form input{
	height: 45px;
	margin:20px 0;
	border:1px solid #323232;
}
form label{
	line-height: 80px;
	text-align: right;
}
form button{
	margin-bottom: 20px !important;
}
.checkbox{
	height: 25px;
	width: 25px !important;
	margin-top:28px;
}
footer{
	min-height: 65px;
	background-color: #323232;
	width: 100%;
	padding:20px 0;
	bottom:0 ;
	left: 0;
	right: 0;
}
/*Media query for responsive*/
@media (max-width: 1024px) {
	.banner{
		height: calc(100% - 65px);
		padding-top: 65px;
	}
	.container{
		padding-top: 65px;
	}
	.banner-opacity h1{
		line-height: normal;
	}
	form input{
		margin: 0;
	}
	form label{
		line-height: normal;
	}
}